<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css	">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/EditProfile.css">
    <title>Request</title>
</head>
<body>
    <div class="header">
       
        <!-- ==== Name of User ==== -->
        <% if (user && user.email) { %>
    <hr>
         
      </div>
    















      <div class="container rounded  mt-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"> 
                  
                  <img name="img" class="profile-pic" src="https://ubisoft-avatars.akamaized.net/a3c1a636-db47-4751-941b-1acc538932de/default_256_256.png" alt="Profile Image">
  
  
  

          <span class="p-image" ">
            <i class="fa fa-camera upload-button"></i>
            <input class="file-upload" type="file" accept="image/*"/>
          </span>
                  <span class="font-weight-bold"><%=user.name%></span><span class="text-black-50"><%=user.email%></span>
                
                </div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back"><i ></i>
                          <h6 class="back-to-home">Back to home</h6>
                        </div>
                        <h6 class="text-right">Edit Profile</h6>
                      </div>
               
                    <form action="/EditProfile" method="POST">
                    <div class="row mt-2">
                        <div class="col-md-6">
                          <label class="labels">Name : </label>
                        <input type="text" class="form-control" placeholder="name" name ="name" value="<%=user.name%>"></div>  
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                          <label class="labels">Email : </label>
                          <input type="text" class="form-control" 
                          name ="email"placeholder="Email" value="<%=user.email%>"></div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-6">
                        <label class="labels">Password : </label>
                        <input type="password" class="form-control"
                         value="<%=user.passwordDigest%>" placeholder="Phone number"></div>

                         <div class="col-md-6">
                          <label class="labels">Bio : </label>
                          <input type="text" 
                          name ="bio" class="form-control"
                           value="<%=user.bio%>" placeholder="User Bio"></div>

                           <div class="col-md-6">
                            <label class="labels">About Me : </label>
                            <textarea class="form-control" id="textAreaExample" name ="heading" placeholder="Talk about your self "rows="5"><%=user.bio%></textarea>
                    <div class="mt-5 text-right"><input class="btn btn-primary profile-button" type="submit" value="Save Profile"></div>
                  </form>
                </div>
            </div>
        </div>
    </div>




    <% } else { %>
      You're not logged in. 
    </h2>
      <a href="/logIn">Log in</a>
    <% } %>






    
  
</body>
  <script src="./jquery-3.5.1.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js	"></script>
    <script src="./SeekerProfile.js"></script>
</html>