<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Request</title>
</head>


<body class="flex">
    <div class="header flex">
        <!-- Mnue -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img  src="https://ubisoft-avatars.akamaized.net/a3c1a636-db47-4751-941b-1acc538932de/default_256_256.png" alt="">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
               
                    <% if ((parseInt(user.type)) === 1){ %>       
                        <a class="dropdown-item" href="profile"> Profile</a>
                   <% } else if ((parseInt(user.type)) === 0){%>
                    <a class="dropdown-item" href="SeekerProfile"> Profile</a>
                               <% } %>
                
                <a class="dropdown-item"  href="/logout">Sign Out</a>
              
             
            </div>
          </div>
       

       
       <h2>
           <% if (user === null){ %>
            <a href="/login">Log in</a>
           <% }else{ %>

              <%= user.name %>

           <% } %>
           
        </h2>

       <h1>Request</h1>
    </div>
    
    <div class="section flex">

    <div class="category flex"><h2>Category</h2>
    <button>Programming</button>
    <button>Desgin</button>
    <button>Tanslation</button>
    <button>Markting</button>
    </div>

    <div class="contanier flex">

   
        <% if ((parseInt(user.type)) === 0){ %>
            <div class="nav flex">
                <form action="/new_ticket">
                    <input type="submit" value="New Post" />
                </form>
                
                     <% if(search){%>
                        <a href="/main">All Order</a>

                           
                        <% }else{%>
                   <a href="/main?myorder=true">My Order</a>
                   <% }%>
                   
        
             
        
        </div>
        <% } %>
        <div class="tickets-container">

 
              <% data.forEach((element) => { %>
                  
             <% if((parseInt(element.status) == 0)){ %>
            <div class="ticket">
                <div>
                <a href="/show_ticket/<%= element._id%>/"><h1><%=element.subject%></h1></a>
                <p>By: <%=element.user.name%></p>
                <p>Create At: <%= element.createdAt  %>  </p>
                <p>Updated At: <%= element.createdAt  %>  </p>
               
                <img src="" alt="">
            </div>
               
            </div>
            <% }else if(element.user._id == user._id){ %>
            <div class="ticket">
                <div>
                <a href="/show_ticket/<%= element._id%>/"><h1><%=element.subject%></h1></a>
                <p>By: <%=element.user.name%></p>
                <p>Create At: <%= element.createdAt  %>  </p>
                <p>Updated At: <%= element.createdAt  %>  </p>
               
                <img src="" alt="">
            </div>
               
            </div>
            <%} });  %>

            
        </div>
    </div>
     
    </div>

    <div class="footer flex"><h3>Footer</h3></div>
    
</body>
<script src="./jquery-3.5.1.js"></script>

    <script src="./main.js"></script>

    
    <!---  for mnue in the header -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>